PORT=3001

# CORS
CORS_ORIGINS=http://localhost:3000

# Redis
REDIS_URL=redis://127.0.0.1:6379

# Mongo
MONGODB_URI=mongodb://127.0.0.1:27017/ringback

# LiveKit
LIVEKIT_URL=http://127.0.0.1:7880
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=

# Ringback
# Note: openssl rand -hex 32
RINGBACK_API_KEY=
